.cards {
	position: relative;
	white-space: nowrap;
	top:70%;
	left:2.5%;
	display: flex;
	font-size: smaller;
}

.inactive {
	opacity: 70%;
}

.active {
	opacity: 100%;
}

.downCards{
	width: 85%;
	height: 72%;
	left:11.5%;
}

.leftCards {
	transform: rotate(90deg);
	width: 85%;
	height: 43%;
}

.rightCards {
	transform: rotate(-90deg);
	width: 85%;
	height: 43%;
	top:13em;
}

.topCards {
	width: 85%;
	height: 105%;
	left:11.5%;
}

