
<div class="container-auto">
	<div class="one" ></div>
  <div class="two" >
  	<cards [cardIds]="this.players[2]" [playerId]="2" [isActive]="isActive(2)"> 
    </cards>
    <div *ngIf="this.pass[2]" class=" popupPositionUp " >
      <span class="popup {{this.pass[2] && isActive(2)? 'popupAnimation' : ''}}" >PASS</span>
    </div>
    <nametag [playerId]="2"></nametag>
  </div>
  <div class="three" ></div>
  <div class="four">
  	<cards [cardIds]="this.players[1]" [playerId]="1" [isActive]="isActive(1)"> 
    </cards>
    <div *ngIf="this.pass[1]" class=" popupPositionLeft"  >
      <span class="popup {{this.pass[1] && isActive(1) ? 'popupAnimation' : ''}}" >PASS</span>
    </div>
    <nametag [playerId]="1"></nametag>
  </div>
  <div class="five" >
    <div class="placeholder">
      <cards  [cardIds]="submittedCardIds" [isActive]="true" [zoomIn]="this.isZoom(this.activeAt,this.pass)" [isSubmitted]="true">
      </cards>
    </div>
    <div class="endGame" [hidden]="!this.isEndGame(this.activeAt)">
      <div id="win"> PLAYER {{activeAt}} WINS</div>
        <button class="replay" (click)="this.reset()">REPLAY</button>
        <button class="home" [routerLink]="['']">HOME</button>
      </div>
    <div class="buttons">
      <button *ngIf="isActive(0) && this.isValidStatus() && this.timeLeft > 0" type="submit" class="submit" (click)="clickSubmitHandler()"> SUBMIT</button>
      <button *ngIf="isActive(0) && !this.isValidStatus() && this.lastSubmittedPlayerId !== 0  && this.timeLeft > 0"type="submit" class="pass" (click)="clickPassHandler()" > PASS </button>
    </div>
  </div>
  <div class="six" >
  	<cards [cardIds]="this.players[3]" [playerId]="3" [isActive]="isActive(3)"> 
    </cards>
    <div *ngIf="this.pass[3]" class=" popupPositionRight " >
      <span class="popup {{this.pass[3] && isActive(3) ? 'popupAnimation' : ''}}" >PASS</span>
    </div>
    <nametag [playerId]="3"></nametag>
  </div>
  <div class="seven" ></div>
  <div class="eight" > 
    <cards [cardIds]="this.players[0]" [playerId]="0" (playerSelectedCards)="getPlayerSelectedCards($event)" [isActive]="isActive(0)">
    </cards>
    <div class="popupPositionDown" [hidden]="!this.pass[0]" >
      <span class="popup popupAnimation" >PASS</span>
    </div>
    <alarm *ngIf="isActive(0) && this.timeLeft > 0" [x]="this.timeLeft" [zoomIn]="true"></alarm>
    <nametag [playerId]="0"></nametag>
  </div>
  
  <div class="nine"></div>
</div>



