
<div class="container-auto">
	<div class="one" ></div>
  <div class="two" >
  	<cards [cardIds]="this.players[2]" [playerId]="2" [isActive]="isActive(2)"> 
    </cards>
  </div>
  <div class="three" ></div>
  <div class="four">
  	<cards [cardIds]="this.players[1]" [playerId]="1" [isActive]="isActive(1)"> 
    </cards>
  </div>
  <div class="five" >
    <div class="placeholder">
      <cards [cardIds] = "this.submittedCardIds" [isActive]="true" ></cards>
    </div>
    <div class="buttons">
      <button type="submit" class="submit" (click)="clickSubmitHandler()" [hidden]="(activeAt > 0 && isActive(activeAt)) || !this.isValidStatus"> SUBMIT</button>
      <button type="submit" class="pass" (click)="clickPassHandler()" [hidden]="(activeAt > 0 && isActive(activeAt)) || this.isValidStatus || this.lastSubmittedPlayerId === 0"> PASS </button>
    </div>
  </div>
  <div class="six" >
  	<cards [cardIds]="this.players[3]" [playerId]="3" [isActive]="isActive(3)"> 
    </cards>
  </div>
  <div class="seven" ></div>
  <div class="eight" > 
    <cards [cardIds]="this.players[0]" [playerId]="0" (playerSelectedCards)="getPlayerSelectedCards($event)" [isActive]="isActive(0)">
    </cards>
  </div>
  
  <div class="nine"></div>
</div>



