.container-auto {
  width: 700px;
  height: 700px;
  position: absolute;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
}


.placeholder{

    width: 100px;
    height: 100px;

    transform: scale(.80) translate(200%,75%);
}
.one{
	/*background: red; */
	height: 20%; 
	width: 20%;
}

.two{
 	/*background: yellow;*/
 	height: 20%; 
 	width: 60%
}

.three{
	/*background: red;*/
	height: 20%; 
	width: 20%
}

.four{
	/*background: yellow;*/
	height: 50%; 
	width: 20%;
}

.five{
	/*background: red;*/
	height: 50%; 
	width: 60%
}

.six{
	/*background: yellow;*/
	height: 50%; 
	width: 20%;
}

.seven{
	/*background: red;*/
	height: 30%; 
	width: 20%;
}

.eight{
	/*background: yellow;*/
	height: 30%; 
	width: 60%
}

.nine{
	/*background: red;*/
	height: 30%; 
	width: 20%;
}

.submit{
	
	transform: translate(40%,206%);
	border: none;
	color: #494949 ;
	padding: 10px 20px;
	text-align: center;
	font-size: 200%; 
	cursor: pointer;
	font-family: monospace;
	background-color: transparent;
	border: 4px solid #494949;
	border-radius: 6px;
}

.submit:hover{
	color: #44e668!important;
	border-radius: 50px;
	border-color: #44e668 !important;
	transition: all 0.2s ease 0s;
}

.pass{
	transform: translate(85%,206%);
	border: none;
	color: #494949;
	padding: 10px 20px;
	text-align: center;
	font-size: 200%; 
	cursor: pointer;
	font-family: monospace;
	background-color: transparent;
	border: 4px solid #494949;
	border-radius: 6px;

	
}

.pass:hover{
	color: #44e668 !important;
	border-radius: 50px;
	border-color: #44e668 !important;
	transition: all 0.2s ease 0s;
}

