<!-- <cards [cards]="[new Card(1,0), new Card(1,0)]" [orientation]="0" ><cards> -->
<!-- <cards [cardIds]="[0,2,4,6,1,12,3,16,9,10,21,24]" style="display: inline-block;z-index: 0"></cards><br> -->
<div class="container-auto">
	<div class="one" >1</div>
  <div class="two" >
  	<cards [cardIds]="this.top" [top]="true"> 
    </cards>
  </div>
  <div class="three" >3</div>
  <div class="four">
  	<cards [cardIds]="this.left" [left]="true" > 
    </cards>
  </div>
  <div class="five" >5
    <div class="placeholder">
      <cards [cardIds] = "this.playCards ? this.selectedCardIds : []"></cards>
    </div>
    <div class="buttons">
      <button type="submit" class="play" (click)="clickPlayHandler()"> PLAY </button>
      <button type="submit" class="pass"> PASS </button>
    </div>
  </div>
  <div class="six" >6
  	<cards [cardIds]="this.right" [right]="true" > 
    </cards>
  </div>
  <div class="seven" >7</div>
  <div class="eight" > 
    <cards [cardIds]="this.player" [player]="true" (change)="getPlayerSelectedCards($event)">
    </cards>
  </div>
  
  <div class="nine">9</div>
</div>



